.content {
    text-align: center;
}
.tabMenu{
    margin-top: 50px;
}
.tabMenu li{
color: #111111;
    display: inline-block;
    height:40px;
    width: 180px;
    font-weight: 800;
    font-family: "SimHei";
    border: 3px solid #6B6B6B;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 40px;
    background-color: #333333;
}
.tabMenu li.selected{
    color: #0b93d5;
    background-color: #DDDDDD;
}

.tabBox{
    margin: -6px auto 0 auto;
    display: inline-block;
    width: 95%;
    border: 3px solid #6B6B6B;
    border-radius: 10px;
    background-color: #000000;

}
.tabBox table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    font-size: 25px;

}
.tabBox td{
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    height: 34px;
    padding: 2px;
    border: none;
    margin:0px;
}
.tabBox td:first-child{
    width: 20px;
}
.tabBox td:nth-child(2){
    width: 50px;
}
.tabBox td:nth-child(3){
    width: 400px;
}
.tabBox td.scoreCol{
    text-align: right;
    padding-right: 20px ;
}
.odd{
    background-color: #333333;
}
.even{
    background-color: #121212;
}